@charset "utf-8";

html {}

body {
    background-color: #ffffff;
}

/* header */
#nav-header {
    background: #186AC9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

#nav-header h1 img {
    width: 120px;
    height: auto;
    /* 縦横比を維持 */
    display: block;
    /* 画像下の余白を消すためにおすすめ */
}

/* main content */
#row {
    display: flex;
    flex-flow: row wrap;
}

#container {
    flex: 0 0 80%;
}

#side-bar {
    flex: 0 0 19%;
    border-left: 1px solid #727272;
}

#sub-head {
    display: flex;
    align-items: center;
    gap: 20px;
}

#username {
    color: #ffffff;
    font-size: 18px;
}

li {
    list-style: none;
    border-bottom: 1px solid #000;
    display: flex;
}

.post-content {
    width: 100%;
    padding: 15px;
}

.post-content>div {
    display: flex;
    justify-content: space-between;
}

.post-name {
    margin-bottom: 10px;
}

.user-icon img {
    width: 50px;
    /* アイコンの大きさ */
    height: 50px;
    border-radius: 50%;
    /* 丸くする */
    object-fit: cover;
    /* はみ出さないようにトリミング */
    margin-left: 10px;
    /* 矢印とアイコンの間隔 */
}

.accordion {
    position: relative;
}

.menu {
    display: none;
    /* 初期は非表示 */
    position: absolute;
    /* 下に出したいから絶対配置 */
    top: 56px;
    /* .menu-btn の下 */
    right: -100px;
    background-color: #ffffff;
    /* 背景色 */
    padding: 15px 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    width: 275px;
    /* XDに合わせて調整 */
    padding: 0;
    margin: 0;
}

/* メニューの中のリンク */
.menu li {
    padding: 0px;
    text-align: center;
    padding: 12px 0;
    margin: 0;
}

/* 最後の項目の下線を消す */
.menu li:last-child {
    border-bottom: none;
}

/* プロフィール編集の背景だけ紺色 */
.menu li:nth-child(2) {
    background-color: #123c69;
}

/* プロフィール編集の文字だけ白 */
.menu li:nth-child(2) a {
    color: #ffffff;
}

/* その他リンク */
.menu li a {
    display: flex;
    color: #727272;
    font-size: 20px;
    text-decoration: none;
    padding: 10px 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    line-height: 50px;
}

.menu-btn {
    position: relative;
    width: 40px;
    /* 矢印の横幅 */
    height: 40px;
    cursor: pointer;
}

/* 矢印の線 */
.menu-btn span {
    display: block;
    position: absolute;
    left: 0;
    width: 65%;
    /* 矢印の長さを短く */
    height: 2px;
    background-color: #ffffff;
    /* 白い矢印 */
    border-radius: 3px;
    transition: 0.3s ease;
}

/* ▼ 初期状態：下向き矢印 */
.menu-btn span:nth-child(1) {
    top: 17px;
    left: 3px;
    transform: rotate(50deg);
}

.menu-btn span:nth-child(2) {
    top: 17px;
    left: 19px;
    transform: rotate(-50deg);
}

/* ▲ 開いた時：上向き矢印 */
.menu-btn.open span:nth-child(1) {
    top: 17px;
    transform: rotate(-50deg);
}

.menu-btn.open span:nth-child(2) {
    top: 17px;
    transform: rotate(50deg);
}
